---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Design | FAM Building Material">
  <div class="flex flex-col min-h-screen w-full bg-[#15242a]">
    <Navigation />
    <main class="flex-1 w-full bg-[#15242a]">
      <div style="display:flex;justify-content:center;align-items:center;height:100%;min-height:60vh;">
        <h1 style="font-size:2rem; color:#fff; text-align:center;">This page is under construction</h1>
      </div>
    </main>
    <Footer />
  </div>
</Layout>